@model AlpataProje.Models.Entity.User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/signup.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Profil Düzenle</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserID)
    <div class="leftSide">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CellPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhone)
                @Html.ValidationMessageFor(model => model.HomePhone)
            </div>
        </div>

    </div>
    <div class="rightSide">
        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPhone)
                @Html.ValidationMessageFor(model => model.WorkPhone)
            </div>
        </div>
        <div class="form-group">
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Kadın",
                    Value = "Kadın",
                    Selected = true

                });
                listItems.Add(new SelectListItem
                {
                    Text = "Erkek",
                    Value = "Erkek",
                });

            }
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, listItems, "-- Select Gender --")
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TC)
                @Html.ValidationMessageFor(model => model.TC)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Profession, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profession)
                @Html.ValidationMessageFor(model => model.Profession)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.County, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.County)
                @Html.ValidationMessageFor(model => model.County)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="companySide">
            <div class="form-group">
                @Html.LabelFor(model => model.IsCompanyCar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.IsCompanyCar, new { @Id = "customCheck1", @onClick = "EnableDisableTextBox(this)" })
                    @Html.ValidationMessageFor(model => model.IsCompanyCar)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CompanyName, new { @disabled = "disabled", @Id = "companyname" })
                    @Html.ValidationMessageFor(model => model.CompanyName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CompanyAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CompanyAddress, new { @disabled = "disabled", @Id = "companyadress" })
                    @Html.ValidationMessageFor(model => model.CompanyAddress)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="width:200px; margin-top:20px" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-danger" href="/User/DeleteUser" style="width:200px">Profili Sil</a>
                </div>
            </div>
        </div>


    </div>
</div>
}
<script type="text/javascript">
    function EnableDisableTextBox(customCheck1) {
        var companyname = document.getElementById("companyname");
        companyname.disabled = customCheck1.checked ? false : true;
        if (!companyname.disabled) {
            companyname.focus();
        }
        var companyadress = document.getElementById("companyadress");
        companyadress.disabled = customCheck1.checked ? false : true;
        if (!companyadress.disabled) {
            companyname.focus();
        }
    }
</script>